@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.primary-input{
  @apply w-full h-auto border-2 border-black rounded-xl px-5 py-3 focus:appearance-none focus:border-primary focus:ring-offset-2 focus:ring-offset-primary focus:outline-none
}

.primary-button{
  @apply w-full h-auto rounded-xl bg-primary text-white px-5 py-3
}
