@tailwind base;
@tailwind components;
@tailwind utilities;


/* Input */
.primary-input{
  @apply w-full h-auto border-2 border-black rounded-xl px-5 py-3 focus:appearance-none focus:border-primary focus:ring-offset-2 focus:ring-offset-primary focus:outline-none
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

input[type="checkbox"]::before {
  background-color: transparent;
}

::-ms-reveal {
  display: none;
}


/* Button */
.primary-button{
  @apply w-full h-auto rounded-xl bg-primary text-white text-center px-5 py-3 disabled:bg-primary/50 disabled:cursor-not-allowed hover:ring-2 hover:ring-[rgb(144,224,239)] hover:ring-offset-1
}

.secondary-button{
  @apply w-full h-auto rounded-xl text-center px-5 py-3 border-2 border-primary
}

/* Scrollbar */
.primary-scrollbar::-webkit-scrollbar{
  @apply w-2
}

.primary-scrollbar::-webkit-scrollbar-track {
  @apply bg-none
}

.primary-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-lg
}

/* Sweet Alert */
.swal2-confirm{
  background-color: #005f73 !important;
  font-family: "Roboto", sans-serif !important;
  @apply appearance-none focus:ring-white focus:ring-0 focus:ring-offset-0
}